/* BUTTON  */

.btn-xs {
    font-size: 0.9rem;
    padding: 4px;
    line-height: 0.7rem;
}

/* INPUT */

.form-control-xs {
    height: calc(0.5em + 1.21875rem);
}

/* TABLE LIVE ORDER */

.table-live-order tr td {
    text-align: left;
}

.table-live-order tbody td p {
    margin: 0.5rem;
}

.table-live-order tbody td.order-note-field {
    width: 10%;
}

.table-live-order tbody td.order-note-field span {
    white-space: break-spaces;
}

.table-live-order tbody td.product p {
    margin: 10px 0px 0px 0px;
}

/* ORDER */

.order-select-card {
    cursor: pointer;
}

.order-select-card .card-header {
    display: block;
    text-align: center;
    padding: 1rem 0.875rem 1rem!important
}

.order-product-piece-field {
    width: 50%;
}

.order-product-piece-field button {
    line-height: 1!important;
}

.order-product-piece-field input {
    padding: 0;
    text-align: center;
}

.order-select-card .card-footer {
    padding: 0;
}

.order-select-card.address {
    height: 150px;
    border: 1px solid lightgray;
}

.address-field {
    height: 80px;
}

.order-select-card .card-footer button {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.order-select-card.active {
    background: #7638ff;
    color: white!important;
    box-shadow: 2px 6px 6px #888888;
}

.order-select-card .fas.fa-check-circle {
    display: none;
}

.order-select-card.active .fas.fa-check-circle {
    display: block;
}

.order-select-card p {
    font-size: 1rem;
    font-weight: 600;
    color: #455560 !important;
}

.order-select-card.active p {
    color: white !important;
}

.order-select-card .card-body {
    padding: 1rem;
}

.categories-column {
    padding-right: 0;
    padding-left: 0;
    height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
}

.products-column {
    padding-right: 15px;
    padding-left: 15px;
    height: 25vh;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
}

#categories {
    max-height: 90px;
    overflow: hidden;
    overflow-y: scroll;
}

#categories button {
    text-transform: uppercase;
    padding: 3px;
    margin: 0.1rem;
    font-size: 1rem;
}

.product {
    padding: 10px!important;
    cursor: pointer;
}

.product.out-of-stock {
    cursor: not-allowed;
}

.product.out-of-stock label {
    cursor: not-allowed;
}

.product.out-of-stock img {
    filter: brightness(0.2);
}

.product:hover {
    filter: brightness(0.8);
}

.product .badge {
    position: absolute;
    top: 15px;
    font-size: 1rem;
    left: 25px;
    z-index: 1;
}

.product label {
    position: absolute;
    bottom: 10px;
    left: 25px;
    z-index: 1;
    color: white;
    font-size: 1.2rem;
}

.product img {
    filter: brightness(0.5);
    background: black;
    border-radius: 20px;
    height: 135px;
}

#order-products-column {
    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}

#order-products-column .card .card-header {
    display: block;
    padding: 10px;
}

#order-products-column .card {
    margin-bottom: 5px;
    border: 1px solid lightgray;
}

#order-payment-methods-column .card {
    margin-bottom: 5px!important;
    border: 1px solid lightgray;
}

#order-products-column .card .card-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.align-center {
    display: flex;
    align-items: center;
}

#order-products-column .card .card-header .card-title {
    margin-top: 0.5rem;
    font-size: 1rem;
}

#order-products-column .card .card-header .btn-group input {
    height: 35px;
    text-align: center;
    padding: 2px;
    line-height: 1;
}

.order-product-piece {
    text-align: center;
    line-height: 1;
    font-size: 1rem;
}

.product-property-button.selected {
    background-color: #7638ff;
    border-color: #7638ff;
    color: white;
}

#order-total-band {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: #7638ff;
    z-index: 100000;
    text-align: right;
    left: 0;
}

#print-order-table tr td {
    padding: .25rem!important;
    white-space: break-spaces!important;
}

/* PRINT */

@media print {
    .no-print {
        display: none!important;
    }
    .page-wrapper {
        margin: 0!important;
        padding: 0!important;
    }
    .content {
        margin: 0!important;
        padding: 0!important;
    }
    .table {
        width: 100%!important;
    }
    .table tr td {
        padding: .25rem!important;
        white-space: pre!important;
    }
    p {
        margin-bottom: 0!important;
    }
}